body{
 background-color: #F5F5F1;
}

ul{
  padding-left: 0;
}

li.color_array{
  list-style: none;
  display: inline-block;
  padding: 1px;
}

li.color_array>a{
  width: 22px;
  height: 22px;
  display: block;
  border-radius: 2px;
  border:1px solid #e2e2e2;
}

li.color_array>a.red{
  background-color: red;
}

li.color_array>a.orange{
  background-color: orange;
}

li.color_array>a.yellow{
  background-color: yellow;
}

li.color_array>a.green{
  background-color: green;
}

li.color_array>a.turquoise{
  background-color: turquoise;
}

li.color_array>a.purple{
  background-color: purple;
}

li.color_array>a.black{
  background-color: black;
}

li.color_array>a.white{
  background-color: white;
}







#results_column{

 background-color: white;
 margin-top: 1em;
 border-radius: 2%;
 #categories{
   padding: 0;

 }
 .results{
   list-style-type: none;

 }

}


//Result Images Column 1
.images_col_1{
 list-style: none;
 padding-top: 1em;

   h5{
   width: 226px;
   text-overflow: ellipsis;
 }

 .image_col_1_descr{

 }
}

//Result Images Column 2
.images_col_2{
 list-style: none;
 padding-top: 1em;
 h5{
   width: 226px;
 }

 .image_col_2_descr{


 }
}
//Result Images Column 3
.images_col_3{
 list-style: none;
 padding-top: 1em;
 h5{
   width: 226px;
 }

 .image_col_3_descr{


 }
}
